<app-header titulo="Alert"></app-header>
<ion-content class="ion-padding">
    <ion-button (click)="onClick()" expand="block">
        Mostrar alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Mostrar Alert Multiple Buttons
    </ion-button>
    <ion-button (click)="presentAlertPrompt()" expand="block"  shape="round">
        Mostrar present Alert Prompt
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block" fill="clear" shape="round">
        Mostrar present Alert Radio
    </ion-button>
</ion-content>
